* {
  margin: 0;
  padding: 0;
}

#courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.singleCourse {
  width: 30%;
  padding: 1rem;
  margin: 5px;
  background-color: rgb(238, 220, 195);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.singleCourse :nth-child(2) {
  color: rgba(43, 39, 4, 0.726);
}

.singleCourse :nth-child(3) {
  font-weight: bold;
}

.ctaCourse {
  padding: 0.5rem;
  color: rgb(255, 255, 255);
  background-color: rgb(37, 23, 4);
  width: fit-content;
  border-radius: 5px;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
  transition: background-color 0.5s ease-out;
}

.ctaCourse:hover {
  background-color: rgb(87, 50, 4);
  cursor: pointer;
}

#courseInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  padding: 1rem;
  border-radius: 5px;
  background-color: rgb(37, 23, 4);
  color: aliceblue;
}

.hidden {
  display: none !important;
}

.highlighted {
  border: 1px solid rgb(3, 49, 3);
  background-color: rgb(185, 163, 132);
}
